<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Detail User</title>
</head>

<body>
    <main id="main" class="main" layout:fragment="main">
        <section class="section">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Detail User</h5>

                            <!-- No Labels Form -->
                            <form class="row g-3" action="" th:object="${user}">
                                <div class="col-md-12">
                                    <label for="name">username</label>
                                    <input type="text" class="form-control" th:field="*{username}" disabled>
                                </div>
                                <div class="col-md-12">
                                    <label for="password">password</label>
                                    <input type="text" class="form-control" th:field="*{password}" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label for="isEnabled">isEnabled</label>
                                    <input type="text" class="form-control" th:field="*{isEnabled}" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label for="isAccountNonLocked">isAccountNonLocked</label>
                                    <input type="text" class="form-control" th:field="*{isAccountNonLocked}" disabled>
                                </div>
                                <div class="text-center">
                                    <a th:href="@{/user}" class="btn btn-primary">Back</a>
                                </div>
                            </form>
                            <!-- End No Labels Form -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div layout:fragment="script"></div>
</body>

</html>