<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Edit User</title>
</head>

<body>
    <main id="main" class="main" layout:fragment="main">
        <section class="section">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Edit User</h5>

                            <!-- No Labels Form -->
                            <form id="edit" class="row g-3" th:action="@{/user/{id} (id=${user.id})}" th:method="PUT" th:object="${user}">
                                <div class="col-md-12">
                                    <label for="username">username</label>
                                    <input type="text" class="form-control" th:field="*{username}">
                                </div>
                                <div class="col-md-12">
                                    <label for="password">new password</label>
                                    <input type="text" class="form-control" id="edit-password" th:field="*{password}">
                                </div>
                                <div class="col-md-6">
                                    <label for="isEnabled">isEnabled</label>
                                    <input type="text" class="form-control" th:field="*{isEnabled}">
                                </div>
                                <div class="col-md-6">
                                    <label for="isAccountNonLocked">isAccountNonLocked</label>
                                    <input type="text" class="form-control" th:field="*{isAccountNonLocked}">
                                </div>
                                <div class="text-center">
                                    <a th:href="@{/user}" class="btn btn-secondary">Back</a>
                                    <button type="submit" class="btn btn-primary">submit</button>
                                </div>
                            </form>
                            <!-- End No Labels Form -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div layout:fragment="script">
        <script>
            $(document).ready(function() {
                $("#edit-password").val("");
            });
            document.getElementById('edit').addEventListener('submit', function(event) {
                event.preventDefault(); // Mencegah form dari pengiriman default

                Swal.fire({
                    title: 'Simpan data?',
                    text: 'Apakah Anda yakin ingin menyimpan data ini?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Ya',
                    cancelButtonText: 'Tidak'
                }).then(function(result) {
                    if (result.isConfirmed) {
                        // Form akan disubmit setelah menutup SweetAlert
                        event.target.submit();
                        Swal.fire({
                            title: 'Sukses!',
                            text: 'Data berhasil dihapus.',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
        </script>
    </div>
</body>

</html>